.background {
  viewport-fill: white;
}

.primary {
  font-size: 25;
  fill: red;
  text-anchor: middle;
}

#myLabel1 {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%-40;
  fill: white;
}

#myLabel2 {
  font-size: 70;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+25;
  fill: white;
}

#myLabel3 {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+70;
  fill: white;
}
